.upload-main-container {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    color: white;
  }
  
  .upload-video-form {
    width: 96%;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .upload-video-heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #fff5c8;
    margin-left: 40px;
    margin-top: 10px;
  }
  
  .upload-video-form-group {
    margin-bottom: 20px;
  }
  
  .upload-video-label {
    font-weight: bold;
    color: #ff6060;
    font-size: 22px;
  }
  
  .upload-video-input,
  .upload-video-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .upload-video-textarea {
    resize: vertical;
  }
  
  .upload-video-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 20px;
    transition: background-color 0.3s;
  }
  
  .upload-video-button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
  }
  
  .upload-video-button:hover {
    background-color: #00ff0d;
  }
  
  .upload-video-input[type="file"] {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .upload-video-input[type="file"]::-webkit-file-upload-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .upload-video-input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #45a049;
  }
  
  .preview-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 20px;
  }
  
  .preview-wrapper:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);

  }
  
  .thumbnail-preview,
  .video-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .upload-first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .upload-video-form-group {
    width: 45%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .upload-video-form-group-title{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .upload-video-input[type="file"] {
    width: calc(100% - 24px);
  }
  
  .upload-video-textarea {
    width: 100%;
    min-height: 200px;
  }
  
  .upload-video-form-group:nth-child(3),
  .upload-video-form-group:nth-child(4) {
    width: 100%;
  }
  
  .preview-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
  }
  
  .upload-icon {
    cursor: pointer;
  }
  
  .upload-description {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .upload-video-form {
      width: 97%;
      padding: 10px;
    }
  
    .upload-first-container {
      flex-direction: column;
    }
  
    .upload-video-form-group {
      width: 97%;
      margin-left: 0;
      margin-right: 0;
    }

    .upload-video-form-group-title {
      width: 97%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .upload-video-heading {
      margin-left: 10px;
    }

    .upload-description{
      width: 96.5%;
    }
  }
  