.main-watch-later-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-later-container {
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-columns: 3fr 6fr;
    color: white;
}
  
.watch-later-top-video-container {
    /* Styles for the top video container */
    background-color: rgba(65, 45, 45, 0.694);
    background: linear-gradient(to top left, rgba(101, 109, 161, 0.208), rgba(0, 0, 0, 0.8));
    margin: 25px;
    margin-left: 50px;
    margin-right: 10px;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.18);
}

.watch-later-top-video-thumbnail{
    border-radius: 15px;
}

.watch-later-top-video-watch-later-heading{
    margin-top: 20px;
    margin-left: 2%;
}

.watch-later-top-video-watch-later-heading h1{
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.watch-later-top-video-thumbnail-image {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.watch-later-top-video-thumbnail-image img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Added transition for smoother hover effect */
}

.watch-later-top-video-thumbnail-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Fade-in effect */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.watch-later-top-video-thumbnail-image:hover::before {
    opacity: 1; /* Show on hover */
}

.watch-later-top-video-thumbnail-image::before {
    content: '\25B6\00A0Play'; /* Text to display */
    font-family: Arial, Helvetica, sans-serif;
}

.watch-later-top-video-thumbnail-image img:hover {
    transform: scale(1.1);
}

.watch-later-all-video-container {
    /* background-color: blue; */
    margin: 25px;
    margin-right: 50px;
    margin-left: 10px;
    max-height: 100%;
    border-radius: 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

.watch-later-top-video-my-user-name-and-videos-count{
    display: flex;
    margin-left: 2%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.watch-later-top-video-my-user-name-and-videos-count p{
    margin-right: 2%;
}

.watch-later-my-name{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 660;
    color: rgba(255, 255, 255, 0.888);
}

.watch-later-total-videos-count{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 560;
    color: rgba(255, 255, 255, 0.795);
}

.watch-later-download-shuffle-play-buttons{
    display: flex;
    justify-content: space-between;
    /* margin-left: 2%;
    margin-right: 2%; */
    margin-top: 15px;
}

.watch-later-buttons{
    width: 48%;
    padding: 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.365);
    transition: all 0.2s ease-out;
    text-decoration: none;
    border: none;
    color: rgba(255, 255, 255, 0.68);
}

.watch-later-buttons-play{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.775);
}

.watch-later-buttons-play:hover{
    background-color: rgba(128, 110, 110, 0.373);
    cursor: pointer;
    color: white;
}

.watch-later-buttons:hover{
    background-color: rgba(128, 110, 110, 0.373);
    color: white;
    cursor: pointer;
}

.watch-later-all-video-list-container{
    padding-left: 20px;
}

.watch-later-thumbnail{
    object-fit: cover;
}

.watch-later-image{
    width: 220px;
    height: 125px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Added transition for smoother hover effect */
}

.watch-later-main-video-image{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.watch-later-video-title h2 {
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 20px;
}

.history-video-container{
    cursor: pointer;
}

.history-video-owner-and-views{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 20px;
}

.watch-later-video-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
}

.watch-later-description-text {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.441);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.watch-later-no-videos-message{
    display: flex;
    align-items: center;
    margin-top: 36vh;
    justify-content: center;
}

.explore-here-button{
    text-decoration: underline;
    color: rgb(157, 201, 248);
  }
  .explore-here-button:hover{
    color: rgb(138, 150, 255);
  }


@media (max-width: 1120px) {
    .watch-later-top-video-container{
        display: none;
    }
    .history-video-container{
        display: flex;
        flex-direction: column;
    }
}